.grid {
  grid-template-columns: repeat(1, 1fr);
  /* Default for larger screens */
}

/* Columns collapse to one on screens smaller than 768px */
@media only screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

:root {
  --pico-font-family: Pacifico, cursive;
  --pico-border-radius: 2rem;
  --pico-typography-spacing-vertical: 1.5rem;
  --pico-form-element-spacing-vertical: 1rem;
  --pico-form-element-spacing-horizontal: 1.25rem;
}

h1 {
  --pico-font-family: Pacifico, cursive;
  --pico-font-weight: 400;
  --pico-typography-spacing-vertical: 0.5rem;
}

button {
  --pico-font-weight: 750;
}
